extends layout
block content
    main#main
        section#content(role='region')
            .row
                // Display description of the Jewelry Products
                .col-12
                    h5.sharecooking Share Cooking
                    #allmoives.row
                        each video in videos
                            .col-sm-12.col-md-4.col-lg-2.wellallfoods
                                if loggedIn
                                    a.text-danger.close(href=`/share-cooking/delete/${video.id}`) x
                                h3.productName= video.title
                                a(href= video.url, target='_blank', title='Click to view Movie')
                                    img(src= `${video.image}`, alt= `${video.title}`, style='width:100%;')
                                div!= video.description
            if loggedIn
                .row
                    a.btn.btn-primary(href="/share-cooking/add") Add a Cooking Video