extends layout
block content
    main#main
        section#content1(role='region')
            .col-12.col-sm-12.col-md-12.col-lg-12
                p(style='clear:both;')
                .containertabs
                    // Create Navigation Tabs to describle the functions of the product
                    .tabs
                        ul.tabNavigation
                            li
                                a(href='#first') User Admin
                        #first
                            .col-12
                                table(style='width:100%;')
                                    tbody
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            th Order
                                            th Username
                                            th Email
                                            th Address
                                            th Phone
                                            th Edit
                                            th Delete
                                        each user, index in users
                                            tr(style='border-bottom: 1px solid #ccc;')
                                                td= index+1
                                                td= user.username
                                                td= user.email
                                                td #{user.address}, #{user.city}, #{user.country} #{user.postal}
                                                td= user.phone
                                                td
                                                    a(href=`/users/edit-user/${user.id}`) Edit
                                                td
                                                    a(href=`/users/delete/${user.id}`) Delete
                    a.btn.btn-primary(href="/users/add-user") Add User
                .waste
